
#carouselExampleIndicators {
	height: 445px;
	width: 80%;
	margin-left: 165px;
}

.navbar-light {
	
}

.containers {
	height: 300px;
}

.viz-img {
    
}

div {
    
}

.container {
    
}

.container {
    min-width: 960px;
}

img {
    
}

img {
   
}

img {
    display: flex;
    margin-left: 
}

img {
    display: flex;
    margin-left:
    
    
}

div {
    
}

.container {
    max-height: 500px
}

.container {
    
}

.plus {
    height: 0px;
    width: 550px;
    margin: auto;
}

.auto {
    margin-top: 50px;
    width:200px;
    height: 200px;
}

p {
    margin-right: 
}

p {
    margin-right: 10p;
    width: 200px
        
}

img {
    margin-left: 25px
}



img {
    
}

.discount {
       margin-top: 50px;
    width:200px;
    height: 200px;
}

p {
    
}

div {
    
}

a {
    
}

.card {
    
}

.card {
    
}

p {
    
}

img {

}

.card-img-top {
    margin-left: 180px
}

.card-img-top {
    margin-top: 100px
}

.col-sm {
    
}

.card-text {
    margin-left: 150px
}

.card-text {
    
}

.card-text {
    
}

.card-text {
    
}

.card-text {
    
}

.col-sm {
  
}

.card-text1 {
    margin-left: 150px;
    margin-top: -30px;
        
}

footer {
	width: 100%;
	height: 300px;
	background: grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.podval {
	text-align: center;
	width: 50%;
}

.h2 {
	font-size: 50px;
}




.container {
    
}

.col-sm {
    margin-bottom: 200px
}

#carouselExampleIndicators {
    margin: auto
}

.card-img-top {
    
}

.col-sm {
    
}

.card {
    margin-left: -62px
}

.col-sm {
    margin-top: 100px;
}

p {
    font-size: 19px
}

p {
    
}

.card-text {
    marg
}

.card-text {
    
}

b {
    
}

.card-text {

}

.card-text {
    
}

p {
    
}

.navbar {
  
}

.card-text {
    margin-left: -10px
}

.card-img-top {
    margin-left: -10px;
    margin-top: -
}

.card {
    margin: auto
}

.row {
  
}

.row {
    
}
